<h3>Here are the results of your search: </h3>
<% @shows.collect do |show| %>
<ol>
  <li><input type="checkbox" name="save"><%=show.show_url%></li>
</ol>
  <% end %>
<a href = "/new_list" class = "btn">Save to List</a>
