<h1>List of Shows!</h1>
<h3> if you would like to sign up or login please clear here</h3>

<form action = "/shows" method = "POST">
  <input type = "text" name = "name">
  <input type = "submit", value = "search">
</form> 
